* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    background-color: #FFF7ED;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}
nav h1 {
    color: #000;
}
nav a {
    text-decoration: none;
    color: #4D4D4D;
    padding: 20px;
}
.home {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url(./assets/image\ 53.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80vh;
}
.home h1 {
    font-family: 'Arial', sans-serif;
    font-weight: 800;
    font-size: 36px;
    color: #FFFFFF;
}
.home p {
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin: 70px 0;
    letter-spacing: 1px;
}
.home a {
    background-color: #ff8c38;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    width: 50%;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}